<!DOCTYPE html>
<html>
    <head>
        <title>Statuses</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            crossorigin="anonymous"
        />
        <link
            href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/stylesheets/styles.css" />
    </head>

    <body>
        <%- include('./partials/navbar.ejs', {user: user}) %>
        <div class="container-fluid mt-5">
            <% if (error) { %>
                <h1 class="p-3 text-center"><%=error%></h1>
            <% } else { %>
            <h2 class="p-3 text-center">Statuses</h2>
            <div class="list-group">
                <div class="row px-1 py-1 w-100">
                    <span class="col py-1 bg-noroff text-center text-smaller">Id</span>
                    <span class="col py-1 bg-noroff text-center text-smaller">Name</span>
                    <span class="col py-1 bg-noroff text-center text-smaller">isDeleted</span>
                    <span class="col py-1 bg-noroff text-center text-smaller"
                        >Created_At</span
                    >
                </div>

                <% statuses?.forEach(function(status) { %>
                <div class="row px-1 py-1 w-100" id="<%=status.id%>">
                    <span
                        class="col px-0 text-center py-1 bg-light text-smaller border-start border-1"
                    >
                        <%=status.id%>
                    </span>
                    <span
                        class="col py-1 bg-light px-0 text-center text-smaller border-start border-1"
                    >
                        <%=status.statusName%>
                    </span>
                    <span
                        class="col py-1 bg-light px-0 text-center text-smaller border-start border-1"
                    >
                        <%=status.isDeleted%>
                    </span>
                    <span
                        class="col py-1 bg-light px-0 text-center text-smaller border-start border-1"
                    >
                        <%=status.createdAt%>
                    </span>
                </div>
                <% }); %>
                <hr />
            </div>
            <% } %>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"
        ></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script src="/js/logout/handleLogout.js"></script>
    </body>
</html>
